.lfr-cmp__state-selector {
	&--small {
		.label:not(.label-item) {
			height: 16px;
			margin: 0;
			min-height: unset;
			padding: 4px;
		}
	}

	.label:not(.label-item) {
		margin: 0;
	}

	&:hover {
		opacity: 0.8;
	}
}
