.phone-number-input-country-code-picker {
	position: relative;
}

.phone-number-input-country-code-picker > .form-control-select-secondary {
	position: relative;
	z-index: 2;
}

.phone-number-input-country-code-flag:empty {
	display: none;
}

.phone-number-input-country-code-menu {
	max-height: 18rem;
	min-width: 16rem;
	overflow-y: auto;
}

.phone-number-input-country-code-menu.show {
	display: block;
}

.phone-number-input-country-code-menu-item-code {
	min-width: 45px;
}
