blacklistComponentNames=[ \
"com.liferay.commerce.product.content.web.internal.info.item.provider.CProductInfoItemCapabilitiesProvider", \
"com.liferay.commerce.product.content.web.internal.info.item.provider.CProductInfoItemDetailsProvider", \
"com.liferay.commerce.product.content.web.internal.info.item.provider.CProductInfoItemFieldValuesProvider", \
"com.liferay.commerce.product.content.web.internal.info.item.provider.CProductInfoItemFormProvider", \
"com.liferay.commerce.product.content.web.internal.info.item.provider.CProductInfoItemObjectProvider", \
"com.liferay.commerce.product.content.web.internal.item.selector.CProductItemSelectorView", \
]