[@liferay_aui.style]
	.${fragmentEntryLinkNamespace}_fragment_product-update_container .minHeight{
		min-height:${configuration.minHeight};
	}

	.${fragmentEntryLinkNamespace}_fragment_product-update_container .separatorColor {
		background-color:${configuration.separatorColor};
	}

	.${fragmentEntryLinkNamespace}_fragment_product-update_container .iconWidth{
		width: ${configuration.iconWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}_fragment_product-update_container .iconHeight{
		height: ${configuration.iconWidthAndHeight};
	}
[/@]

<div class="${fragmentEntryLinkNamespace}_fragment_product-update_container fragmentcss_product-update_container">
	<div class="border-neutral-2 product-update-container minHeight">
		<div class="icon-container rounded-lg separatorColor iconWidth iconHeight">
			<lfr-drop-zone data-lfr-drop-zone-id="1"></lfr-drop-zone>
		</div>

		<div class="product-update-info">
			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="2"></lfr-drop-zone>
			</div>

			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="3"></lfr-drop-zone>
			</div>

			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="4"></lfr-drop-zone>
			</div>
		</div>
	</div>
</div>