.fragmentcss_product-update_container h5 {
	max-width: 300px;
}

.fragmentcss_product-update_container .icon-container {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

.fragmentcss_product-update_container .product-update-container {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	padding: 16px;
}

.fragmentcss_product-update_container .product-update-info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.fragmentcss_product-update_container .product-update-info .info-item {
	margin-bottom: 4px;
}