[@liferay_aui.style]
	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .iconBgColor {
		background-color: ${configuration.iconBackgroundColor};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .iconSize{
		width: ${configuration.iconWidthAndHeight};
		height: ${configuration.iconWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .containerBgColor {
		background-color: ${configuration.containerBackgroundColor};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .containerPadding{
		padding: ${configuration.containerPadding};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .containerSize{
		width: ${configuration.containerWidthAndHeight};
		height: ${configuration.containerWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .imageSize{
		height: ${configuration.imageWidthAndHeight};
		width: ${configuration.imageWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace} .icon-background {
		align-items: center;
		display: flex;
		justify-content: center;
	}
[/@]

<div class="${fragmentEntryLinkNamespace}_fragment_icon_container${fragmentEntryLinkNamespace}">
	<div class="icon-container rounded-circle containerBgColor containerSize containerPadding">
		<div class="icon-background rounded-circle iconBgColor iconSize">
			<img class="imageSize" data-lfr-editable-id="image-square" data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABECAYAAABK3PEEAAAACXBIWXMAAC4jAAAuIwF4pT92AAABBUlEQVR4Xu3VAQkAIBDFUO0fRLCD2RSM8dg12Mbn5trnjo41MAvMtv1gBbb7FhjvW+AC6wZwvn5wgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI7XgguMG8DxWnCBcQM4XgsuMG4Ax2vBBcYN4HgtuMC4ARyvBRcYN4DjteAC4wZwvBZcYNwAjteCC4wbwPFacIFxAzheCy4wbgDHa8EFxg3geC24wLgBHK8FFxg3gOO14ALjBnC8Flxg3ACO14ILjBvA8VpwgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI73ADVez7kdh2y/AAAAAElFTkSuQmCC" />
		</div>
	</div>
</div>