.gradle

/portal-registry/portal-registry-api/build
/portal-registry/portal-registry-impl/build
/portal-registry/portal-registry-test-integration/build
/portal-registry/portal-registry-test-integration/generated
/portal-registry/portal-registry-test-integration/test-reports