<div class="card card-container p-3 rounded-corners">
	<img src="..." class="card-image card-img-top rounded-corners" data-lfr-editable-id="card-image" data-lfr-editable-type="image">
	<div class="card-body">
		<div data-lfr-editable-id="category" data-lfr-editable-type="text" class="text-primary mb-3 text-uppercase text-link-sm category-height">
			category
		</div>
		<h3 class="card-title pb-4 font-weight-bold text-truncate" data-lfr-editable-id="card-title" data-lfr-editable-type="text" class="font-weight-bold">Card title</h3>
		<p class="text-truncate" data-lfr-editable-id="summary" data-lfr-editable-type="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>
		<a href="#" class="action-link" data-lfr-editable-id="card-link" data-lfr-editable-type="link">Read more</a>
	</div>
</div>