.taglib-social-bookmarks {
	.taglib-social-bookmark {
		display: inline-block;
		vertical-align: top;

		img {
			vertical-align: baseline;
		}
	}

	.lfr-icon-item {
		height: 35px;
		width: 34px;
		span {
			display: inline-block;
			height: 16px;
			width: 16px;
		}
		img {
			height: 16px;
			vertical-align: top;
			width: 16px;
		}
		i {
			font-size: 18.5px;
		}
	}

	> ul, > div {
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}

	.btn-sm {
		font-size: 1rem;
	}
}